@media all and (max-width: 660px){
    /* html,body{
        height: 100%;
    } */
    body{
        margin: 0;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        font-family: 'Ubuntu', sans-serif;
    }


}

@media all and (min-width: 660px){
    html,body{
        height: 100%;
    }
    body{
        overflow: hidden;
        margin: 0;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: row-reverse;
        font-family: 'Ubuntu', sans-serif;
    }


}








